.playlist-content-title {
  position: absolute;
  top: 30px;
  right: 20px;

  width: 60%;
  height: 85px;

  text-align: center;

  color: black;
  font-size: 56px;
  font-weight: bold;

  overflow: hidden;
  background-color: green;
}

/*------------------------------------------------------------------------------------*/
.wow-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(196, 0, 0, 0.205);
  width: 60%;
  height: 80%;
  overflow: hidden;
  border: 3px solid black;
  border-radius:20px;
}

.overlay-content {
  position: absolute;
  left:0;
  top:0;
  width: calc(100% + 62px);
  height: 100% !important;
  background-color: rgb(216, 212, 255);
  overflow: auto;
  margin: 0px 5px 50px 0px;
  padding: 10px 55px 10px 10px;
}

.overlay-content-bg {
  background: linear-gradient(90deg, rgb(113, 121, 126) 0%, rgb(209, 209, 209) 49%, rgb(113, 121, 126) 100%);
}

/*------------------------------------------------------------------------------------*/

.overlay-content-control-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: rgb(70, 70, 70);
  color: white;
  z-index: 10;
  border-bottom: 3px solid black;
}

.overlay-playlist-title {
  position: absolute;
  top: 5px;
  left: 20px;
}

.hide-overlay-btn {
  position: absolute;
  left: 500px;
  top: -5px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
  
.hide-overlay-btn:hover {
    color: rgb(230, 0, 0);
}

/*------------------------------------------------------------------------------------*/

.playlist-item {
    background-color:white;
    transition: 0.3s ease;
    cursor: pointer;
}

.playlist-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.27);
}

/*------------------------------------------------------------------------------------*/

.profile-avatar-container {
  position: absolute;
  top: 40px;
  left: 11%;
  padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  width: 200px;
  z-index: 3;
  transition: 0.5s ease;

}

.profile-avatar {
  position: relative;
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
  margin: auto;

	animation: profile-avatar-float 6s ease-in-out infinite;
}

@keyframes profile-avatar-float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.profile-avatar-img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.profile-avatar-name {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/*------------------------------------------------------------------------------------*/

.playlist-displays-container {
  position: absolute;
  bottom: 0;
  z-index: 2;

  background-color: rgb(0, 77, 0);
  overflow: auto;
  width: 100%;
  height: 256;
  border-top: 5px solid black;
  transition: 1s ease;
}

.hide-playlist-displays-btn {
  position: absolute;
  left: 50px;
  bottom: 0px;

  text-align: center;
  cursor: pointer;
  transition: 1s ease;

  width:250px;
  height: 306px;

  padding: 5px 0;

  font-size: 24px;

  z-index: 2;

  border-right: 3px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hide-playlist-displays-btn:hover {
  color: white;
  background-color: rgb(228, 0, 0);
}

.playlist-display-container {
  cursor: pointer;
  background-color: black;
  color: white;
  display: inline-block;
  text-align: center;
  width: 164px;
  height: 200px;

  border: 3px solid black;
  border-radius: 5px;

  transition: 0.2s ease;
}

.playlist-display-container:hover {
  background-color: rgba(58, 58, 58, 0.767)
}

.playlist-display-name {
  margin: 10px 0px 0px 0px;
}

/*------------------------------------------------------------------------------------*/

.playlist-track-playing {
  background-color: rgb(236, 236, 236);
}